.book-index {
    background-color: aquamarine;
    display: flex;

    .wishlist-books {
        background-color: red;
        height: 20px;
        width: 50%;
    }

    .book-list {
        width: 50%;
    }
}