.book-index {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;

    .wishlist-books {
        background-color: red;
        height: 20px;
        width: 50%;
    }

    .book-list {
        width: 50%;
    }
}