.book-index {
    display: flex;
    display: flex;
    margin: 200px auto;
    align-items: flex-start;


    .wishlist-books {
        background-color: red;
        height: 20px;
        width: 50%;
    }

    .book-list {
        width: 50%;
    }
}